# Collector
tuya-connector-python
pycryptodome
pulsar-client
python-dotenv
requests

# Dashboard
streamlit==1.44.1
plotly==6.1.2

# Core
pandas==2.2.3
numpy==2.2.6

# Tests
pytest==9.1.1

# Analytics (trendlines)
statsmodels
